<div class="jumbotron mb-4">
  <h1 class="ml-4">
    Carrinho
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div
          
      class="col-8">
      <table class="table table-striped mr-2">
        <thead>
          <tr>
            <th>Produto</th>
            <th></th>
            <th>Preço</th>
            <th>Qtd.</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>
            <td>
                <img
                src='http://localhost:5000/img/{{product.imageURL}}'
                [style.width.%]='50'
                [style.height.%]='50'
                [style.margin.px]='2'/>
            </td>
            <td>{{product.name}}</td>
            <td class="w-25">R$ {{product.price}}</td>
            <td>
                <input
                  type="number"
                  min="0"
                  class="w-25 m-2"
                  (change)="updateCart(product.id, $event.target.value)"
                  value={{product.quantity}}/>            
            </td>
            <td>
                <button
                  class="btn btn-danger m-3"
                  (click)="removeItem(product.id)">
                    X
                </button> 
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="products.length == 0">
          <tr>
            <td colspan="7" class="text-left">
                <h4>
                    Não há itens no seu carrinho 
                </h4>
                <button
                    class="btn btn-outline-info"
                    routerLink="/">
                    Voltar às compras
                </button>  
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- Order Summary -->
    <div
      *ngIf="products.length > 0"  
      class="col-4 text-left">
        <div class="card">
          <div class="card-header">
            Resumo do Pedido
          </div>          
          <div class="card-body">
            <p>
              Subtotal: R${{productsTotals}} 
            </p>
            <p>
              Frete: Grátis 
            </p>            
            <hr/>
            <p>
              <strong>
                Total: R${{productsTotals}} 
              </strong>
            </p>
            <button
              class="btn btn-success"
              routerLink="/signin">
                Checkout
            </button>                     
          </div>
        </div>
    </div>
  </div>
</div>
<div>