<div class="card-deck mb-3 text-center">
  <div class="row">
    <h2 class="mb-4">
      Products
    </h2>
  </div>
  <div class="row">
    <div
      class="col-3 md-4 mb-4"
      *ngFor='let product of products'>
      <div class="card box-shadow">
        <div class="card-header">
          {{product.name}}
        </div>
        <div class="card-body">
          R${{product.price}}
        </div>
        <button class="btn btn-outline-warning m-3">
          Adicionar ao carrinho
        </button>
        <span class="badge badge-priamry badge-pill">
          <p *ngIf="product.quantity == 0">
            Indisponível
          </p>
          <p *ngIf="product.quantity > 0">
            Em estoque:{{product.quantity}}
          </p>          
        </span>
      </div>
    </div>
  </div>
<div>
